[run]
branch = False
plugins = Cython.Coverage

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if debug
    raise NotImplementedError
    if __name__ == .__main__.

show_missing = True
ignore_errors = True
