root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[*.{py,pyx,pxd,pxi,h}]
indent_size = 4
indent_style = space

[*.yml]
indent_size = 2
indent_style = space

[edb_stat_statements/*.{c,h,l,y,pl,pm}]
indent_style = tab
indent_size = tab
tab_width = 4
