*._*
*.pyc
*.pyo
*.o
*.so
*~
.#*
.*.swp
.DS_Store
\#*#
/test*.py
/.local
/perf.data*
/build
__pycache__/
.d8_history
/.eggs
/*.egg
/*.egg-info
/dist
/.cache
docs/_build
/AUTHORS
/ChangeLog

/.coverage*
/htmlcov

!/.coveragerc
/.vscode
/.pytest_cache
/.mypy_cache

