*._*
*.pyc
*.pyo
*.o
*.so
*.dylib
.vscode/
.zed/
*~
.#*
.*.swp
.DS_Store
\#*#
/test*.py
/.local
/perf.data*
/build
/target
/tmp
__pycache__/
.d8_history
/.venv
/.eggs
/*.egg
/*.egg-info
/dist
/.cache
docs/_build
/AUTHORS
/ChangeLog
/tests/dumps/**/*_dev*.dump
/edb/_buildmeta.py

/.coverage*
/htmlcov

*.code-workspace
/.pytest_cache
/.mypy_cache
/.vagga
/.dmypy.json
/compile_commands.json
/pyrightconfig.json
