*._*
*.pyc
*.pyo
*.o
*.so
*~
.#*
.*.swp
.DS_Store
\#*#
/test*.py
/.local
/perf.data*
/build
/target
/tmp
__pycache__/
.d8_history
/.eggs
/*.egg
/*.egg-info
/dist
/.cache
docs/_build
/AUTHORS
/ChangeLog
tests/dumps/**/*_dev*.dump

/.coverage*
/htmlcov

/.vscode
*.code-workspace
/.pytest_cache
/.mypy_cache
/.vagga
/.dmypy.json
/compile_commands.json
