Elvis Pranskevichus <elvis@edgedb.com> <elvis@magic.io>
Yury Selivanov <yury@edgedb.com> <yury@magic.io>
Yury Selivanov <yury@edgedb.com> Yuri Selivanov <yselivanov@sprymix.com>
Victor Petrovykh <victor@edgedb.com> <victor@magic.io>
Victor Petrovykh <victor@edgedb.com> Vicor Petrovykh <victor.petrovykh@gmail.com>
