language: generic

matrix:
    include:
        - os: linux
          dist: trusty
          sudo: false
          language: python
          python: "3.6"
          addons:
              apt: {packages: [postgresql-10]}

branches:
    # Avoid building PR branches.
    only:
        - master
        - ci
        - releases
        - /^v\d+(\.\d+)*$/

cache:
    pip: true
    directories:
        - build

# Only cache the parser build products.
before_cache:
    - find build -type f ! -wholename '*.pickle' -delete
    - find build -type d -empty -delete

install:
    - .ci/travis-install.sh

script:
    - .ci/travis-tests.sh

notifications:
    slack:
        rooms:
            - secure: "i2bhxr4ajYW9RYe6coit0Z7NNHrkg3or82vVMppMtGsC7IaaPAVxlcfQ07Cu/oB+SEfEACYVt8bsY/H8KB2z0Y0EBYdf+fzslAi0oHznUsIanDM5jh9njo+uqQ9PHClWcXkf+i+2gz5jVN3tAVY55jRMwt98JqLVuV9cnxS7t7vLmyF19ECIT2yvJNGjK1GC0+0QSUUFeVS9BKfhH3gue5C5StjZmbGtnKyRvG2c2rZNlvtOimB91XKFcOZCd70tWWcaqiV6cuPIdPhGTVCWKzniy5fZneNjfygor2oMqIb3HoQmMpEgwq90isoeF8DHy8iRAIMO2eO5svmbZteTptYpyHIOYI3HYIGTxp/Al9uVZgM8Pj6IRLETsiPPOsfyAYIaG1Rm1kqwK7Q0M8Oz2Y9XFPltt/RBXij19NlD/NM17yo1hxyj9Vg9E2sdYG62ylnwIkBRDMTHvaxHCyd6+WAVqLGvdc9LLPjm1SmKalY+FZ3RBWbxRhVdA36/T8e1KfmlnUy5Wm2ilI/k11wIQ9ljGhIlzlMZfTHlT4qjeZAk+3q7AuzbjsvqRWz3CYkV6tFnHZcax7n1xw4m/Hws9sfYvxaqDzPuUYo+067VJ8mjKS1P79rJeYHmMiuCW8H4DakpKKtSrmDQvxofHHEIEWMMwUnSTZG9XMwiC9MCnNE="
        on_success: change
        on_failure: always
        on_pull_requests: false
