recursive-include edb *.edgeql *.esdl *.py *.txt
recursive-include tests *.edgeql *.esdl *.py
include LICENSE README.md logo.svg

include edgedb-rust/Cargo.toml
include edgedb-rust/Cargo.lock
include edgedb-rust/edgeql-parser/Cargo.toml
recursive-include edgedb-rust/edgeql-parser/src *
include edgedb-rust/edgeql-python/Cargo.toml
recursive-include edgedb-rust/edgeql-python/src *
